@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

$font-fam: 'Manrope','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

body{
    font-family: $font-fam;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

input{
    font-family: $font-fam;
    font-weight: 500;
}

button{
    font-family: $font-fam;
    font-weight: 500;
}

.inside-body{
  padding-top: 7rem;
}